*{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.body{
    display: flex;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(6, 90, 90);
    padding: 10px;
}

.navdiv{
   display: flex;
   align-items: center;
   margin-right: 20px;
}

.navdiv ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.logo h2{
    font-size: 25px;
    font-weight: 600;
    color: white;
    padding-left: 20px;
    text-shadow: 2px 2px 4px black;
}

.sign-btn{
    background: rgba(231, 148, 148, 0.4);
    margin-left: 10px;;
    padding: 10px;
    border-radius: 12px;
    width: 90px;
    border: none;
}

.sign-btn a{
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.sign-btn:hover{
    background: rgba(250, 250, 249, 0.4);
}

option{
    font-style: none;
    display:inline-block;
}

.navdiv ul{
    padding-right: 20px;
}

.navdiv li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
}

.user-profile{
    text-align: center;
    padding-left: 10px;
    padding-top: 20px;
}

.user-profile img{
    width: 125px;
    border-radius: 50%;
}

.user-profile h4{
    color: #ccc;
    padding: 0;
}

.side-bar{
    width: 250px;
    background: #262931;
    min-height: 100vh;
    margin-top: 5px;
}

.section1{
    display: none;
    flex: 2;
    margin-left: 10px;
    background-color: white;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.15)0px 1px 4px;
    border-radius: 5px;
    min-height: 100vh;
}

.section1-edit{
    display: inline-block;
    margin: 15px 0;
    margin-left: 45px;
    margin-top: 30px;
}

.input-container{
    width: 200px;
    margin-bottom: 15px;
}

.input-container label{
     color: black;
     font-size: 20px;
}

.input-container input{
    height: 30px;
    width: 500px;
    border-radius: 5px;
    border: 1.5px solid rgb(43, 37, 37);
    padding: 5px;
    color: rgba(19, 17, 17);
    font-size: 16px;
}

.upload-img{
    color: black;
    font-size: 20px;
}

.upload-btn{
    margin-top: 8px;
    position: relative;
    font-size: 16px;
    border-radius: 3px;
    border: 0;
}

.update-btn{
    margin-top: 15px;
    color: white;
    background-color: blue;
    width: 70px;
    height: 35px;
    border: 0;
}

.update-btn:hover{
    cursor: pointer;
    background-color: rgb(6, 6, 185);
}

.side-bar ul{
    margin-top: 25px;
    list-style: none;
}

.side-bar ul li{
    font-size: 20px;
    padding: 15px 0;
}

.side-bar ul li:hover{
    background-color: rgb(6, 90, 90);
}

.option ul li a{
    color: #ccc;
    cursor: pointer;
    letter-spacing: 1px;
}

.side-bar ul li a i{
    display: inline block;
    font-size: 25px;
    padding-right: 10px;
    color: brown;
    text-shadow: 2px 2px 4px black;
    padding-left: 20px;
}

.option ul li a span{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
}

.my-courses{
    flex: 2;
    margin-left: 10px;
    background-color: wheat;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.15)0px 1px 4px;
    border-radius: 5px;
    height: 100vh;
}

.my-courses h3{
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0 0 30px;
    text-shadow: 1px 1px 2px black;
}

.courses-option-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0 30px;
}

.courses-option-list{
    display: flex;
    gap: 30px;
}

.courses-option-list h2{
    color: white;
    font-weight: bolder;
    cursor: pointer;
    text-shadow: 2px 2px 4px gray;
}

.line1{
    display: block;
    width: auto;
    border-radius: 20px;
    height: 3px;
    background-color: brown;
    margin-top: 3px;
    box-shadow: 2px 2px 4px black;
}

.line2{
    display: none;
    width: auto;
    border-radius: 20px;
    height: 3px;
    background-color: brown;
    margin-top: 3px;
    box-shadow: 2px 2px 4px black;
}

.line3{
    display: none;
    width: auto;
    border-radius: 20px;
    height: 3px;
    background-color: brown;
    margin-top: 3px;
    box-shadow: 2px 2px 4px black;
}

.line4{
    display: none;
    width: auto;
    border-radius: 20px;
    height: 3px;
    background-color: brown;
    margin-top: 3px;
    box-shadow: 2px 2px 4px black;
}

.search-box{
    padding-right: 50px;
}

.search-box label{
    font-size: 20px;
    font-weight: bold;
}

.search-box input{
    border: none;
    outline: none;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 16px;
    padding-left: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* courses */

.courses-item{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80vh;
    background-color: transparent;
    overflow-y: scroll;
}

.courses-item::-webkit-scrollbar{
    width: 5px;
}

.courses-item::-webkit-scrollbar-track{
    background-color: white;
}

.courses-item::-webkit-scrollbar-thumb{
    background-color: teal;
    border-radius: 10px;
}

.courses{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 300px;
    height: 320px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.courses video{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.courses h3{
    font-size: 18px;
    font-weight: bold;
    text-shadow: none;
    padding-left: 15px;
}

.enrolled{
    display: flex;
    gap: 10px;
    padding: 20px 20px 0 20px;
}

.hours,.language,.enroll{
    display: flex;
    gap: 5px;
}

.courses h4{
    color: green;
    font-size: 15px;
    font-weight: bold;
    text-shadow: none;
    padding: 13px 0 0 15px;
}

/* combo */

.combo-items{
    margin: 20px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80vh;
    background-color: transparent;
    overflow-y: scroll;
}

.combo-items::-webkit-scrollbar{
    width: 5px;
}

.combo-items::-webkit-scrollbar-track{
    background-color: white;
}

.combo-items::-webkit-scrollbar-thumb{
    background-color: teal;
    border-radius: 10px;
}

.combo-courses{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 300px;
    height: 370px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.combo-courses video{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.combo-courses h3{
    font-size: 18px;
    font-weight: bold;
    text-shadow: none;
    padding-left: 15px;
}

.amount{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px 0 0 20px;
}

.amount p{
    color: green;
    font-weight: bolder;
    font-size: 20px;
}

.amount h5{
    color: red;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: line-through;
}

.premium-btn{
    border: none;
    background-color: red;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.money-save{
    color: #fff;
    padding: 10px 0 0 15px;
    background-color: rgb(213, 154, 103);
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

/* Free library */

.free-library-items{
    margin: 20px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80vh;
    background-color: transparent;
    overflow-y: scroll;
}

.free-library-items::-webkit-scrollbar{
    width: 5px;
}

.free-library-items::-webkit-scrollbar-track{
    background-color: white;
}

.free-library-items::-webkit-scrollbar-thumb{
    background-color: teal;
    border-radius: 10px;
}

.free-btn{
    width: 100px;
    height: 30px;
    background-color: blue;
    border: none;
    margin: 10px 0 0 15px;
    border-radius: 5px;
    color: #fff;
}

.free-courses{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 300px;
    height: 330px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.free-courses video{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.free-courses h3{
    font-size: 18px;
    font-weight: bold;
    text-shadow: none;
    padding-left: 15px;
}

/* Webinars */

.webinars-items{
    margin: 20px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80vh;
    background-color: transparent;
    overflow-y: scroll;
}

.webinars-items::-webkit-scrollbar{
    width: 5px;
}

.webinars-items::-webkit-scrollbar-track{
    background-color: white;
}

.webinars-items::-webkit-scrollbar-thumb{
    background-color: teal;
    border-radius: 10px;
}

.webinars-videos{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 300px;
    height: 330px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.webinars-videos video{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.webinars-videos h3{
    font-size: 18px;
    font-weight: bold;
    text-shadow: none;
    padding-left: 15px;
}





